body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.error_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.error_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.sorrytext {
    font-size: 2em;
}

.homepage {
    display: block;
    margin-top: 20px;
    font-size: 1.5em;
}